{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Video Game Logs</title>
  </head>
  <body>
    <h1>Welcome to the Video Game Log</h1>
    <hr />
    <p>Here at ConTRoL Sea Studios, our top priotrity is bringing you great user funcionality in free, open source applications. As long as we don't get too many customers, this site will be free for you to use however you wish. This parrticular site is built, obviously, for a video game journal, but you could use it for whatever sort of fileing system you see fit. Nerds rejoice!</p>
    
  </body>
</html>
{% endblock %}