{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Video Game Logs</title>
  </head>
  <body>
    <h1>Welcome to the Video Game Log Book</h1>
    <hr />
    <p>Log Your Games</p>
    <footer>All Rights Reserved, &copy; 2022 Video Game Log by ConTRoL Sea Studios</footer>
  </body>
</html>
{% endblock %}