{% extends 'base.html' %} {% block content %}

<h1>Game Detail</h1>

<div class="row">
    <div class="col 6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ game.name }}</span>
                <p>Genre: {{ game.genre }}</p>
                <p>System: {{ game.system }}</p>
                <p>Description: {{ game.description }}</p>
                <p>Year: {{ game.year }}</p>
            </div>
            <div class="card_action">
                <a href="{% url 'games_update' game.id %}">Edit</a>
                <a href="{% url 'games_delete' game.id %}">Delete</a>
            </div>
        </div>
        {% for photo in game.photo_set.all %}
        <img class="responsive-img card-panel" src="{{ photo.url }}" alt="game.name">
        {% empty %}
        <div class="card-panel red-text center-align">No Photos Uploaded</div>
        {% endfor %}
        <form 
            action="{% url 'add_photo' game.id %}" 
            class="card-panel" 
            method="POST" 
            enctype="multipart/form-data"
        >
            {% csrf_token %}
            <input type="file" name="photo-file" />
            <br />
            <br />
            <input type="submit" class="btn" value="Upload Photo">
        </form>
    </div>

</div>
{% endblock %}